// Colors
$textColorDark = rgb(48, 49, 51) //#555
$textColorLight = rgb(144, 147, 153) //#777
$line = #ddd
$lightBackground = #f0f0f0
$pinkBackground = #fdd
$transparentBackground = rgba(0,0,0,0.25)
$darkBlue = #36f
$blue = #59f
$lightBlue = rgba(160, 207, 255, 0.5) // #a0cfff
$white = #ffffff

// Font sizes
$title = 24px
$subtitle = 20px
$postLargeText = 17px
$largeText = 16px
$preLargeText = 15px

$postNormalText = 14px
$normalText = 13px
$preNormalText = 12px

//Other sizes
$largeTableRowHeight = 30px
$tableRowHeight = 25px